@import './../../../../app.scss';

$carousel-padding: 10px;

$item-width: 250px;
$item-padding: 10px;
$item-border-radius: 5px;

.task-carousel {
  overflow: hidden;
  width: $item-width;

  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;

    .task-item,
    .completed-item {
      width: 100%;
      border-radius: $item-border-radius;
      margin: $carousel-padding;
      padding: $item-padding;
      @include box-shadow(2px, 6px, 4px, 0px, $base-9);
      user-select: none;
    }

    .task-item {
      background: $base-7;
      color: $base-1;
      padding-bottom: $item-padding * 4;

      // Hover effects
      cursor: pointer;
      transition: transform .1s ease-out;
      &:hover {
        transform: scale(1.025);
        filter: brightness(0.95);
      }

      // Left border
      position: relative;
      overflow: hidden;
      padding-left: $item-border-radius + $item-padding;
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: $item-border-radius;
        background: $primary-6;
        content: '';
      }

      .name {
        font-weight: 500;
        font-size: $font-size-lg
      }

      .instructions {
        font-weight: 300;
        font-size: $font-size-md;
        color: $base-4;
      }
    }

    .completed-item {
      @include gradient($primary-6, $primary-9);
      color: $base-1;
      font-weight: 500;
      font-size: $font-size-xl;

      padding-bottom: $item-padding * 3;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
};