
$base-1: #fdf7ff;
$base-2: #eee8f5;
$base-3: #dfd9e5;
$base-4: #bbb5c2;
$base-5: #9b96a2;
$base-6: #736e79;
$base-7: #5f5a65;
$base-8: #403b45;
$base-9: #1f1b24;

$primary-1: #cbe5cb;
$primary-2: #aad4ab;
$primary-3: #89c48b;
$primary-4: #71b873;
$primary-5: #5bac5b;
$primary-6: #529d52;
$primary-7: #478b47;
$primary-8: #3e7a3d;
$primary-9: #2e5b2d;
